<h2><%= @group.name %></h2>

<p>Group Owner: <%= @group.owner.name %><br>
<br>
<% @group.issues.each do |issue| %>
	<ul>
	  <li><%= issue.title %></li>
	  <li><%= issue.description %></li>
	  <li><%= issue.user.name %></li>
	</ul>

<% end %>

<%= link_to('Create Issue', new_issue_path) %>
